header{
    position: sticky;
    top: 0;
  }

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
 }

 nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
    width: 10px;
    
 }
 nav a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: blue;
    margin-top: 30px;
 }
 
section{
    background-color:whitesmoke;
}

.article-list {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: white;
  }

.article-list h1{
    text-align: center;
}

footer{
    background-color: black;
    text-align: center;
}

footer h5{
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}